<!DOCTYPE html>

<html>

<head>
    <title>私について</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
      {{>header}}
      <p>このサイトはチビマルが制作しました。<br>
      mapbox.comとdarkskay.netを使用しています。<br>
      2021.01.06</p>
      <img class="portrait" src="img/cat.jpeg">

    </div>
    {{>footer}}
</body>

</html>